In [16]:
# Data Analysis Bootcamp, HW 3, Thomas Smithey 

# Read Titanic Data From Dataset

import pandas as pd

Location = "datasets/titanic3.xls"
df = pd.read_excel(Location)
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [76]:
# Compute Total Number of Passengers
numpass = df['pclass'].count()
print " The total number of passengers onboard the Titanic was", numpass

 The total number of passengers onboard the Titanic was 1309

In [77]:
# Compute Total Number of First Class Passengers
numfcpass = df[(df['pclass']==1)]['pclass'].count()
print "The number of First Class Passengers was", numfcpass

The number of First Class Passengers was 323

In [78]:
# Compute Total Number of First Class Passengers
numscpass = df[(df['pclass']==2)]['pclass'].count()
print "The number of Second Class Passengers was", numscpass

The number of Second Class Passengers was 277

In [79]:
# Compute Total Number of First Class Passengers
numtcpass = df[(df['pclass']==3)]['pclass'].count()
print "The number of Third Class Passengers was", numtcpass

The number of Third Class Passengers was 709

In [80]:
# Compute Total Number of Survivors
numsurv = df[(df['survived']==1)]['pclass'].count()
print "The total number of Passengers that survived was", numsurv

The total number of Passengers that survived was 500

In [81]:
# Compute Number of Passengers that Perished
numdied = df[(df['survived']==0)]['pclass'].count()
print "The number of Passengers that perished was", numdied

The number of Passengers that perished was 809

In [82]:
# Compute Number of Survivors in First Class Cabins
frstclssurv = (df[(df['survived']==1) & (df['pclass']==1)]['pclass'].count())
print "The number of First Class Passengers that survived was", frstclssurv

The number of First Class Passengers that survived was 200

In [84]:
# Compute Rate of Survivors in First Class Cabins
fcsurvrate = (float(frstclssurv)/float(numfcpass))* 100
print "The percentage of First Class Passengers that survived was", ("%.2f" % fcsurvrate), "%"

The percent of First Class Passengers that survived was 61.92

In [89]:
# Compute Number of Survivors in Second Class Cabins
scndclssurv = (df[(df['survived']==1) & (df['pclass']==2)]['pclass'].count())
print "The number of Second Class Passengers that survived was", scndclssurv

The number of Second Class Passengers that survived was 119

In [87]:
# Compute Rate of Survivors in Second Class Cabins
scsurvrate = (float(scndclssurv)/float(numscpass))*100
print "The percentage of Second Class Passengers that survived was", ("%.2f" % scsurvrate), "%"

The percentage of Second Class Passengers that survived was 42.96 %

In [90]:
# Compute Number of Survivors in Third Class Cabins
thrdclssurv = (df[(df['survived']==1) & (df['pclass']==3)]['pclass'].count())
print "The number of Third Class Passengers that survived was", thrdclssurv

The number of Third Class Passengers that survived was 181

In [92]:
# Compute Rate of Survivors in Third Class Cabins
tcsurvrate = (float(thrdclssurv)/float(numtcpass))*100
print "The percentage of Second Class Passengers that survived was", ("%.2f" % tcsurvrate), "%"

The percentage of Second Class Passengers that survived was 25.53 %

In [93]:
# Compute Number of Female Survivors
femsurv = (df[(df['survived']==1) & (df['sex']=='female')]['pclass'].count())
print "The number of Female Passengers that survived was", femsurv

The number of Female Passengers that survived was 339

In [94]:
femsurvrate = (float(femsurv)/float(numsurv))*100
print "The percentage of Second Class Passengers that survived was", ("%.2f" % femsurvrate), "%"

The percentage of Second Class Passengers that survived was 67.80 %

In [95]:
# Compute Number of Male Survivors
malsurv = (df[(df['survived']==1) & (df['sex']=='male')]['pclass'].count())
print "The number of Male Passengers that survived was", malsurv

The number of Male Passengers that survived was 161

In [97]:
msurvrate = (float(malsurv)/float(numsurv))*100
print "The percentage of Male Passengers that survived was", ("%.2f" % msurvrate), "%"

The percentage of Male Passengers that survived was 32.20 %

In [26]:
# Compute Survival By Average Fare
pd.pivot_table(df, values=['fare'], index=['survived'] )

               fare
survived
0         23.353831
1         49.361184

In [27]:
# Compute Average Fare By Passenger Class
pd.pivot_table(df, values=['fare'], index=['pclass'] )

             fare
pclass
1       87.508992
2       21.179196
3       13.302889

In [98]:
# Compute Number of Cherbourg embarkation 
cembark = df[(df['embarked']=='C')]['pclass'].count()
print "The number of Passengers that embarked from Cherbourg was", cembark

The number of Male Passengers that embarked from Cherbourg was 270

In [99]:
# Compute Number of Survivors by Cherbourg embarkation 
cembarksurv = (df[(df['survived']==1) & (df['embarked']=='C')]['pclass'].count())
print "The number of Passengers that embarked from Cherbourg and survived was", cembarksurv

The number of Passengers that embarked from Cherbourg and survived was 150

In [100]:
csurvrate = (float(cembarksurv)/float(cembark))*100
print "The percentage of  Passengers that embarked from Cherbourg and survived was", ("%.2f" % csurvrate), "%"

The percentage of  Passengers that embarked from Cherbourg and survived was 55.56 %

In [101]:
# Compute Number of Queenstown embarkation 
qembark = df[(df['embarked']=='Q')]['pclass'].count()
print "The number of Passengers that embarked from Queenstown was",qembark

The number of Passengers that embarked from Queenstown was 123

In [102]:
# Compute Number of Survivors by Queenstown embarkation 
qembarksurv = (df[(df['survived']==1) & (df['embarked']=='Q')]['pclass'].count())
print "The number of Passengers that embarked from Queenstown and survived was", qembarksurv

The number of Passengers that embarked from Queenstown and survived was 44

In [103]:
qsurvrate = (float(qembarksurv)/float(qembark))*100
print "The percentage of  Passengers that embarked from Queenstown and survived was", ("%.2f" % qsurvrate), "%"

The percentage of  Passengers that embarked from Queenstown and survived was 35.77 %

In [104]:
# Compute Number of Southampton embarkation 
sembark = df[(df['embarked']=='S')]['pclass'].count()
print "The number of Passengers that embarked from Queenstown was", sembark

The number of Passengers that embarked from Queenstown was 914

In [105]:
# Compute Number of Survivors by Southampton embarkation 
sembarksurv = (df[(df['survived']==1) & (df['embarked']=='S')]['pclass'].count())
print "The number of Passengers that embarked from Southampton and survived was", sembarksurv

The number of Passengers that embarked from Southampton and survived was 304

In [108]:
ssurvrate = (float(sembarksurv)/float(sembark))*100
print "The percentage of  Passengers that embarked from Southamptonand survived was", ("%.2f" % ssurvrate), "%"

The percentage of  Passengers that embarked from Southamptonand survived was 33.26 %

In [33]:
# Compute Average Fare By Embarkation
pd.pivot_table(df, values=['fare'], index=['embarked'] )

               fare
embarked
C         62.336267
Q         12.409012
S         27.418824

In [109]:
df.corr()

            pclass  survived       age     sibsp     parch      fare      body
pclass    1.000000 -0.312469 -0.408106  0.060832  0.018322 -0.558629 -0.034642
survived -0.312469  1.000000 -0.055513 -0.027825  0.082660  0.244265       NaN
age      -0.408106 -0.055513  1.000000 -0.243699 -0.150917  0.178739  0.058809
sibsp     0.060832 -0.027825 -0.243699  1.000000  0.373587  0.160238 -0.099961
parch     0.018322  0.082660 -0.150917  0.373587  1.000000  0.221539  0.051099
fare     -0.558629  0.244265  0.178739  0.160238  0.221539  1.000000 -0.043110
body     -0.034642       NaN  0.058809 -0.099961  0.051099 -0.043110  1.000000

In [119]:
print "There does not appear to be a strong correlation of survival with any other variable."  
print "The strongest correlation of survival in this weak set of correlations is the fare"

There does not appear to be a strong correlation of survival with any other variable.
The strongest correlation of survival in this weak set of correlations is the fare

In [110]:
df.describe()

,pclass,survived,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,2.294882,0.381971,29.881135,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,14.413500,1.041658,0.865560,51.758668,97.696922
min,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
pclass       1309 non-null int64
survived     1309 non-null int64
name         1309 non-null object
sex          1309 non-null object
age          1046 non-null float64
sibsp        1309 non-null int64
parch        1309 non-null int64
ticket       1309 non-null object
fare         1308 non-null float64
cabin        295 non-null object
embarked     1307 non-null object
boat         486 non-null object
body         121 non-null float64
home.dest    745 non-null object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.2+ KB

In [113]:
import statsmodels.formula.api as sm
result1 = sm.ols(formula='survived ~ pclass + sibsp + parch + fare + embarked -1', data=df).fit()
result1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               survived   R-squared:                       0.125
Model:                            OLS   Adj. R-squared:                  0.121
Method:                 Least Squares   F-statistic:                     30.85
Date:                Sat, 30 Sep 2017   Prob (F-statistic):           9.01e-35
Time:                        04:16:42   Log-Likelihood:                -823.03
No. Observations:                1306   AIC:                             1660.
Df Residuals:                    1299   BIC:                             1696.
Df Model:                           6
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
embarked[C]     0.7925      0.055     14.411      0.000       0.685       0.900
embarked[Q]     0.7965      0.070     11.356      0.000       0.659       0.934
embarked[S]     0.6661      0.051     13.074      0.000       0.566       0.766
pclass         -0.1535      0.019     -8.032      0.000      -0.191      -0.116
sibsp          -0.0234      0.013     -1.769      0.077      -0.049       0.003
parch           0.0573      0.016      3.550      0.000       0.026       0.089
fare            0.0006      0.000      1.808      0.071   -4.85e-05       0.001
==============================================================================
Omnibus:                     1587.091   Durbin-Watson:                   1.860
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              126.764
Skew:                           0.440   Prob(JB):                     2.97e-28
Kurtosis:                       1.753   Cond. No.                         465.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [114]:
result2 = sm.ols(formula='survived ~ pclass + sibsp + parch + fare + embarked', data=df).fit()
result2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               survived   R-squared:                       0.125
Model:                            OLS   Adj. R-squared:                  0.121
Method:                 Least Squares   F-statistic:                     30.85
Date:                Sat, 30 Sep 2017   Prob (F-statistic):           9.01e-35
Time:                        04:18:12   Log-Likelihood:                -823.03
No. Observations:                1306   AIC:                             1660.
Df Residuals:                    1299   BIC:                             1696.
Df Model:                           6
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         0.7925      0.055     14.411      0.000       0.685       0.900
embarked[T.Q]     0.0040      0.053      0.076      0.939      -0.099       0.107
embarked[T.S]    -0.1264      0.033     -3.809      0.000      -0.191      -0.061
pclass           -0.1535      0.019     -8.032      0.000      -0.191      -0.116
sibsp            -0.0234      0.013     -1.769      0.077      -0.049       0.003
parch             0.0573      0.016      3.550      0.000       0.026       0.089
fare              0.0006      0.000      1.808      0.071   -4.85e-05       0.001
==============================================================================
Omnibus:                     1587.091   Durbin-Watson:                   1.860
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              126.764
Skew:                           0.440   Prob(JB):                     2.97e-28
Kurtosis:                       1.753   Cond. No.                         305.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [115]:
result3 = sm.ols(formula='survived ~ pclass + sibsp + parch + fare + embarked -1', data=df).fit()
result3.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               survived   R-squared:                       0.125
Model:                            OLS   Adj. R-squared:                  0.121
Method:                 Least Squares   F-statistic:                     30.85
Date:                Sat, 30 Sep 2017   Prob (F-statistic):           9.01e-35
Time:                        04:19:32   Log-Likelihood:                -823.03
No. Observations:                1306   AIC:                             1660.
Df Residuals:                    1299   BIC:                             1696.
Df Model:                           6
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
embarked[C]     0.7925      0.055     14.411      0.000       0.685       0.900
embarked[Q]     0.7965      0.070     11.356      0.000       0.659       0.934
embarked[S]     0.6661      0.051     13.074      0.000       0.566       0.766
pclass         -0.1535      0.019     -8.032      0.000      -0.191      -0.116
sibsp          -0.0234      0.013     -1.769      0.077      -0.049       0.003
parch           0.0573      0.016      3.550      0.000       0.026       0.089
fare            0.0006      0.000      1.808      0.071   -4.85e-05       0.001
==============================================================================
Omnibus:                     1587.091   Durbin-Watson:                   1.860
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              126.764
Skew:                           0.440   Prob(JB):                     2.97e-28
Kurtosis:                       1.753   Cond. No.                         465.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [116]:
result4 = sm.ols(formula='survived ~ pclass + fare -1', data=df).fit()
result4.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               survived   R-squared:                       0.366
Model:                            OLS   Adj. R-squared:                  0.365
Method:                 Least Squares   F-statistic:                     376.5
Date:                Sat, 30 Sep 2017   Prob (F-statistic):          7.79e-130
Time:                        04:20:33   Log-Likelihood:                -929.32
No. Observations:                1308   AIC:                             1863.
Df Residuals:                    1306   BIC:                             1873.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
pclass         0.0934      0.006     15.697      0.000       0.082       0.105
fare           0.0037      0.000     15.657      0.000       0.003       0.004
==============================================================================
Omnibus:                       41.352   Durbin-Watson:                   1.630
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              158.115
Skew:                           0.453   Prob(JB):                     4.63e-35
Kurtosis:                       1.558   Cond. No.                         26.9
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [117]:
result5 = sm.ols(formula='survived ~ pclass -1', data=df).fit()
result5.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               survived   R-squared:                       0.246
Model:                            OLS   Adj. R-squared:                  0.246
Method:                 Least Squares   F-statistic:                     427.6
Date:                Sat, 30 Sep 2017   Prob (F-statistic):           2.02e-82
Time:                        04:21:17   Log-Likelihood:                -1042.4
No. Observations:                1309   AIC:                             2087.
Df Residuals:                    1308   BIC:                             2092.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
pclass         0.1256      0.006     20.679      0.000       0.114       0.137
==============================================================================
Omnibus:                       45.983   Durbin-Watson:                   1.367
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              196.718
Skew:                           0.480   Prob(JB):                     1.92e-43
Kurtosis:                       1.362   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [118]:
result6 = sm.ols(formula='survived ~ fare -1', data=df).fit()
result6.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               survived   R-squared:                       0.246
Model:                            OLS   Adj. R-squared:                  0.245
Method:                 Least Squares   F-statistic:                     426.5
Date:                Sat, 30 Sep 2017   Prob (F-statistic):           3.11e-82
Time:                        04:22:10   Log-Likelihood:                -1042.4
No. Observations:                1308   AIC:                             2087.
Df Residuals:                    1307   BIC:                             2092.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
fare           0.0050      0.000     20.652      0.000       0.005       0.005
==============================================================================
Omnibus:                       31.998   Durbin-Watson:                   1.426
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               22.255
Skew:                           0.204   Prob(JB):                     1.47e-05
Kurtosis:                       2.509   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
print "Conclusion 1: based on the analysis of percentage rates of survival," 
print "the passengers most likely to have survived the sinking of Titanic"
print "are women, traveling first class, embarking at Cherbourg"

In [ ]:
print "Conclusion 2: based on the analysis of percentage rates of survival," 
print "the passengers most likely to have perished the sinking of Titanic"
print "are men, traveling third class, embarking at Southampton"